<div class="container-fluid">

  <div class="row">

    <div class="col">
      <br/>
      <h2>Create case</h2>
      <hr/>
      <div class="card">
        <div class="card-header">
          Add a new case
        </div>
        <div class="card-body">
          <p class="card-text">Complete the below form to create a new case file.</p>
          <p class="card-text">* indicates a required field</p>
        </div>
      </div>

      <hr/>

      <form (ngSubmit)="submitNewCase()" [formGroup]="newCaseForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input formControlName="title" type="text" class="form-control" id="title" placeholder="Enter the case title">
          <small class="form-text text-muted">Enter the name of the new case file.</small>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea formControlName="description" id="description" name="description" class="form-control"></textarea>
          <small class="form-text text-muted">Enter a description for the case.</small>
        </div>    
        <div class="form-group">
          <label for="image">Image</label>
          <input (change)="onFileChange($event)" formControlName="image" type="file" class="form-control" id="image">
          <small class="form-text text-muted">Upload a 360 image of the crime scene.</small>
        </div>  
        <button type="submit" class="btn btn-primary">Create case</button>                      
      </form>    

    </div>

  </div>

</div>