<div class="container-fluid">
    <div class="row">

      <div class="col-sm-4 card-padding">

        <div class="card" *ngFor="let case of cases">
          <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{case.title}}</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-block">
            <a href="#" class="btn btn-primary">Card link</a>
          </div>
        </div>

      </div>

    </div>
  </div>

