  <div class="alert alert-default" role="alert">
    Welcome to CrEYEm Lab! Select a case to begin.
  </div>

<div>

  <h3>Case markers</h3>

  <div class="card-padding">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Hostspot 1</h5>
        <p class="card-text">Useful info will probz go here</p>
      </div>
    </div>
</div>

  <div class="card-padding">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">
        <h5 class="card-title">Hostspot 2</h5>
        <p class="card-text">Useful info will probz go here</p>
      </div>
    </div>
  </div>

  <div class="card-padding">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
          <h5 class="card-title">Hostspot 3</h5>
          <p class="card-text">Useful info will probz go here</p>
        </div>
      </div>
    </div>
</div>