<p>test</p>

<div class="card-padding" *ngFor="let hotspot of hotspots">
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">{{hotspot.text}}</h5>
      <p class="card-text">Useful info will probz go here</p>
    </div>
  </div>
</div>

<!-- <div class="card-padding">
  <div class="card text-white bg-secondary mb-3">
    <div class="card-body">
      <h5 class="card-title">static</h5>
      <p class="card-text">Useful info will probz go here</p>
    </div>
  </div>
</div> -->
