<div class="container-fluid">

  <br/>
  <a [routerLink]="['/list']" class="btn btn-block btn-info">Back to list</a>

  <hr/>

  <div *ngIf="!currentHotSpot" class="scrollBar">
  <h4>Points of interest</h4>
  <hr/>
  <div *ngFor="let hotspot of hotspots" (click)="toPos($event, hotspot)">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" >{{hotspot.text}}</h5>
      </div>
    </div> 
    <br/> 
  </div>
  </div>
  <div *ngIf="currentHotSpot">

    <button type="button" class="btn btn-default margin-bottom-btn btn-block" aria-label="Left Align" (click)="clearHotspot()"> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"><</span> </button>      

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{currentHotSpot.text}}</h5>
        <h6 class="card-title">Submitted at {{currentHotSpot.displayDate}}</h6>
        <p>NICHE Reference:</p>
        <p *ngIf="currentHotSpot.text == 'Knife'">465/4466992</p>
        <p *ngIf="currentHotSpot.text == 'Ammunition'">465/4466993</p>
        <p *ngIf="currentHotSpot.text == 'Shotgun'">465/4466994</p>
        <p *ngIf="currentHotSpot.text == 'Suspicious Documents'">465/4466995</p>
        <p *ngIf="currentHotSpot.text == 'Suspicious Powder'">465/4466996</p>
      </div>
    </div>
  </div>


</div>