.custom-hotspot {
  width: 10; 
  height: 10; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 25px solid red;

  cursor: help;
}
div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
}
div.custom-tooltip:hover span{
    visibility: visible;
}
div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}

.pnlm-hotspot {
    background-color: rgba(255, 193, 7, 0.75);
}